.center
/* Taken from (https://www.w3schools.com/howto/howto_css_image_center.asp)*/
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.collapse
{
    &:not(.show)
    {
      display: none;
    }
}

  .collapsing
  {
    height: 0;
    overflow: hidden;
    @include transition($transition-collapse);

    &.collapse-horizontal
    {
      width: 0;
      height: auto;
      @include transition($transition-collapse-width);
    }
  }