body
/* Thank you Mr.Price*/
{
    text-align: center;
}

.center
/* Taken from (https://www.w3schools.com/howto/howto_css_image_center.asp)*/
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    width="800"
    height="700"
}

.general
{
    text-align: center;
    color: white;
}

.high
{
    background-color:black;
}